input,select,textarea{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
}
textarea{
  width: 98%;

}
input,select{
    font-size: 1.3em;
}
div.container{
  margin: auto;
  max-width: 1000px;
}
